button {
  background-color: coral;
  border: none;
  border: 1px solid coral;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  font-size: 1rem;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }

  &.secondary {
    background-color: hotpink;
  }
}
